<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="btn btn-secondary btn-lg" aria-current="page" href="/home">Home</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto"> 
                    <li class="nav-item position-relative">
                        <a class="nav-link position-relative py-2 px-4 text-bg-secondary border border-secondary rounded-pill" href='/insertar'>insertar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link position-relative py-2 px-4 text-bg-secondary border border-secondary rounded-pill" href='/activar-desactivar'>eliminar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link position-relative py-2 px-4 text-bg-secondary border border-secondary rounded-pill" href='/Actualizar'>actualizar</a>
                </ul>
            </div>
        </nav>
    </header>
    <form action="/activar-desactivar" method="POST">
        <div class="container">
            <div class="row">
                <div class="col-md-4" style="overflow-y: scroll; height: 500px;">
    
                    {% for persona in clientes %}
                    <div class="col">
                        <h5>CLIENTE: {{ loop.index }}</h5>
    
                        <li>
                            <small>id</small>
                            <input class="form-control" type="" value="{{persona._id}}">
                            <small>nombre</small>
                            <input class="form-control" type="" value="{{persona.Nombre}}">
                            <small>apellido</small>
                            <input class="form-control" type="" value="{{persona.Apellido}}">
                            <small>telefono</small>
                            <input class="form-control" type="" value="{{persona.Teléfono}}">
                            <small>direccion</small>
                            <input class="form-control" type="" value="{{persona.Dirección}}">
                            <small>email</small>
                            <input class="form-control" type="" value="{{persona.Email}}">
    
                        </li>
                        <div class="form-group">
                            {% if persona.status == 1 %}
                            <a class="btn btn-primary" href="/desactivar/{{ persona._id }}">Desactivar</a>
                            {% else %}
                            <a class="btn btn-success" href="/activar/{{ persona._id }}">Activar</a>
                            {% endif %}
                            <a class="btn btn-danger" href="/eliminar/{{ persona._id }}">Eliminar</a>
                        </div>
    
                    </div>
    
                    {%endfor%}
    
    
    
                </div>
                <div class="col-md-4" style="overflow-y: scroll; height: 500px;">
                    {% for persona in menu %}
                    <div class="col">
                        <h5>MENU: {{ loop.index }}</h5>
                        <li>
                            <small>id</small>
                            <input class="form-control" type="" value="{{persona._id}}">
                            <small>nombre</small>
                            <input class="form-control" type="" value="{{persona.Nombre}}">
                            <small>descripcion</small>
                            <input class="form-control" type="" value="{{persona.Descripción}}">
                            <small>platos</small>
                            {% for p in persona.Platos %}
                            <ul>
                                <small>nombre</small>
                                <input class="form-control" type="" value="{{p.Nombre}}">
                                <small>descripcion</small>
                                <input class="form-control" type="" value="{{p.Descripción}}">
                                <small>precio</small>
                                <input class="form-control" type="" value="{{p.Precio}}">
                            </ul>
                            {% endfor %}
                        </li>
                        <div class="form-group">
                            {% if persona.status == 1 %}
                            <a class="btn btn-primary" href="/desactivar/{{ persona._id }}">Desactivar</a>
                            {% else %}
                            <a class="btn btn-success" href="/activar/{{ persona._id }}">Activar</a>
                            {% endif %}
                            <a class="btn btn-danger" href="/eliminar/{{ persona._id }}">Eliminar</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-md-4" style="  overflow-y: scroll; height: 500px;">
    
                    {% for persona in pedidos %}
                    <div class="col">
    
    
                        <h5>PEDIDO: {{ loop.index }}</h5>
    
                        
                            <li> 
                                <small>id</small>
                                <input class="form-control" type="" value="{{ persona._id }}">
                                <small>Cliente</small>
                                <input class="form-control" type="" value="{{ persona.Cliente }}">
                                <small>Fecha</small>
                                <input class="form-control" type="" value="{{ persona.Fecha }}">
                                <small>Artículos</small>
                                    {% for ar in persona.Artículos %}
                                <ul>
                                    <small>nombre</small>
                                    <input class="form-control" type="" value="{{ar.Nombre}}">
                                    <small>cantidad</small>
                                    <input class="form-control" type="" value="{{ar.Cantidad}}">
                                    <small>precio</small>
                                    <input class="form-control" type="" value="{{ar.PrecioUnitario}}">
                                </ul>
                                    {% endfor %}
                            </li>
                            <div class="form-group">
                                {% if persona.status == 1 %}
                                <a class="btn btn-primary" href="/desactivar/{{ persona._id }}">Desactivar</a>
                                {% else %}
                                <a class="btn btn-success" href="/activar/{{ persona._id }}">Activar</a>
                                {% endif %}
                                <a class="btn btn-danger" href="/eliminar/{{ persona._id }}">Eliminar</a>
                            </div>
                        
    

                    </div>
    
                    {%endfor%}

                </div>
            </div>
        </div>    
    </form>
</body>

</html>
